.header {
    display: flex;
    padding: 5px 0;
    text-align: center;
    background: #000;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 8rem;
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    z-index: 9999;
  }
h1{
  color: #F57F17;
  font-size: 48px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.userAccount{
  height: 60px;
  width: 60px;
  margin: 2rem 0.5em 0.5em 0;
  position: fixed;
  top:0;
  right:0;
  
}